:global {
    // global style here
    .logo-spin {
        animation: App-logo-spin infinite 3s linear;
    }
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .sm-round-corner {
        border-radius: 1rem !important;
    }
    .sm-round-corner:focus {
        border-color: #242526 !important;
    }
    .button {
        background-color: #00bfff !important;
        color: white !important;
        border-radius: 5px !important;
        border: none !important;
        width: 40%
    }
    a {
        color: #00bfff !important;
    }
    #white-frame {
        margin: 0 auto;
        width: 350px;
        background-color: #f8f8ff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 10px
    }
    #image-wrapper {
        margin: 0 auto;
        width: 180px
    }
}